In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import tensorflow as tf

ModuleNotFoundError: No module named 'tensorflow'

In [4]:
tf.__version__

NameError: name 'tf' is not defined

In [5]:
dataset = pd.read_csv('American_Express_User_Exit_Pred.csv')
x = dataset.iloc[:,0:-1].values
y = dataset.iloc[:, -1].values

In [6]:
print(x)

[[553 'Delhi' 'Female' ... 4 1 274150]
 [447 'Bengaluru' 'Male' ... 4 1 519360]
 [501 'Delhi' 'Female' ... 4 1 545501]
 ...
 [627 'Mumbai' 'Female' ... 4 0 494067]
 [600 'Bengaluru' 'Female' ... 2 1 109375]
 [553 'Delhi' 'Male' ... 4 1 180031]]

## Gender Column - Label Encoding

In [9]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
x[:,2] = label_encoder.fit_transform(x[:,2])

In [10]:
print(x)

[[553 'Delhi' 0 ... 4 1 274150]
 [447 'Bengaluru' 1 ... 4 1 519360]
 [501 'Delhi' 0 ... 4 1 545501]
 ...
 [627 'Mumbai' 0 ... 4 0 494067]
 [600 'Bengaluru' 0 ... 2 1 109375]
 [553 'Delhi' 1 ... 4 1 180031]]

## Geographical Column - One hot encoding

In [ ]:
from sklearn.compose import ColumnTransform
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformer)